body {
    overflow-x: hidden;
}

#navbar-override {
    background-color: #0072CE;
    color: #FFF;
    font-size: 1.2em;
}

.form-override {
    margin: 5px 10px 0 0;
    text-align: center;
}

#row-override {
    margin-top: 50px;
}

#brand {
    margin-right: 30px;
}

#chart1, 
#chart2 {
    width: 850px;
    margin: 20px auto;   
    padding: 10px 15px;
    border: 1px solid #ccc;
}

#chart2 {
    margin-right: 10%;
}

.sold-in-store {
    fill: steelblue;
}

.not-sold-in-store {
    fill: brown;
}

.sold-in-store:hover {
    fill: #0A57B4;
}

.not-sold-in-store:hover {
    fill: #A50200;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*.x.axis path {
    display: none;
}*/

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -10px;
}

.specs {
    color: #6C93B4;
}

.imgSpecs {
    height: 175px;
    display: block;
    margin: 5px auto;
    border: 2px solid #6C93B4;
}